   .card-signin {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 35px;
    color: #343a40;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .btn-lgin {
      color: white;
      background: #00963D;
      margin-bottom: 10px;
  }

  .btn-new {
    color: white;
    background-color: #343a40;
  }

  .error {
    color: #ff0000;
    font-weight: 500;
  }

  .top-bar {
    display: flex;
    vertical-align: middle;
    height: 61.2px;
    background-color: #343a40;
  }

  .img_top {
    margin-top: 13px;
    margin-left: 16px;
    margin-bottom: 13px;
  }
  

  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }