.container {
    background: white;
    text-align: center;
}

.backButton {
   text-align: center;
    margin-left: 5px;
    padding: 5px;
    min-width: 85px;
    width: auto;
    color:black;
    border-radius: 5px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
}

