.container {
    background: white;
    text-align: center;
}

.backButton {
   text-align: center;
    margin-left: 5px;
    padding: 5px;
    min-width: 85px;
    width: auto;
    color:black;
    border-radius: 5px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
}

.tabledisplay {
    overflow-y: auto;
    max-block-size: 200px;
}

.row {
    width: 100%;   
     
   
       
}

.tab {
    font-size: 15px;
    
    height: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    color: black;
    border:0;
    
}

.tab:hover {
    background-color: grey;
}

.tab:active {
    color: grey;
}

