.container {
    background: white;
    text-align: center;
}

.showNoData{
    
    height:100%;
    
    padding-top: 50px;
    margin-left: 30px;
    margin-right:30px;
    
    color:grey; 
}
.bordered{
    padding:5px;
    border:1px solid gray;
    border-radius: 5px;
}
.backButton {
   text-align: center;
    margin-left: 5px;
    padding: 5px;
    min-width: 85px;
    width: auto;
    color:black;
    border-radius: 5px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
}

.tabledisplay {
    overflow-y: auto;
    max-block-size: 400px;
}

.row {
    width: 100%;   
    margin: 0;
}

.tab {
    border-radius:5px;
    font-size: 12px;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: grey;
    color: black;
    border:0;    
}

.tab:hover {
    background-color: rgb(236, 236, 236);
}

.active-tab:hover {
    background-color: white;
}
.active-tab{
    background-color: white;
    outline: white;
}

.tab:focus {
    background-color: white;
    border-color: white; 
    color:black;
    outline:white;   
}
.pContainer {
    padding-top:40px;
    height:510px;
    /* height:auto; */
    background-color:white; 
}
.col {
    padding: 0;
    border-left: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);   
}

ul li {
    padding-left: 5px;
}

.date_graph {
    width: 80px;
    text-align: center;
    float: left;
    height: 100%;    
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
   
}

.text_graph {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 220px;
    font-size: 12px;
    height: 100%;
    float: left;
    align-items: center;
    justify-content: center;   
}

