.container {
    background: white;
    text-align: center;
}

.showNoData{
    
    height:100%;
    
    padding-top: 50px;
    margin-left: 30px;
    margin-right:30px;
    color:white; 
}

.backButton {
   text-align: center;
    margin-left: 5px;
    padding: 5px;
    min-width: 85px;
    width: auto;
    color:black;
    border-radius: 5px;
    background-color: white;
}

table, th, td {
    border: 2px solid black;
}

.tabledisplay {
    overflow-y: auto;
    max-block-size: 200px;
}

.row {
    width: 100%;   
    margin: 0;
}

.tab {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    color: black;
    border:0;    
}

.tab:hover {
    background-color: rgb(158, 158, 158);
}

.tab:active {
    background-color: grey;
    outline: grey;
    
}

.tab:focus {
    background-color: grey;
    border-color: grey;    
}

.col {
    padding: 0;
    border-left: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);   
}



