.errorArea{
    position: absolute;
    bottom:50px;
    border-top:1px solid gray;
    width: 100%;
    background-color: white;
}

ul.errorList{
    padding-top:10px;
    padding-left:20px;
    list-style: none;
}

li.errorListItem{
    color:red;
    font-size: 12px;
    font-weight: bold;
}