html {
  height: 100%;
}

body {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  height:100%;

 
}
.startmenu {
  padding-bottom: 50px;
  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
  height: auto;
}
.boxbar {
  width: 5px;
  color: blueviolet;
}
.box {
  width: auto;
  height: 35px;
  background: rgb(206, 205, 205);
  margin-top: 1px;
  padding: 5px;
  justify-content: space-evenly;

}

