html {
  width: 100%;
  height: 100%;
  background: rgb(190, 190, 190);
}

body {
  background: rgb(190, 190, 190);
  color: black;
  display: flex;
  height:100%;
}
.startmenu {
  padding: 5px;
  font-family: sans-serif;
  background: rgb(190, 190, 190);
  height: 100%;
}

.box {
  background: rgb(255, 255, 255);
  margin-top: 1px;
  padding: 5px;
}

#green_box {
  border-left: 15px solid #00963D;
}
#red_box {
 
  border-left: 15px solid #DD3146;
}
#lightred_box {
 
  border-left: 15px solid #F7767A;
}


.floating-menu-icon{
	display: inline-block;
  width: auto;
  padding: 10px;
	vertical-align: middle;
	background: #e53935;
	border-radius: 5%;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
  position: fixed;
	right: 10px;
	bottom: 10px;
	height: 50px;
	text-align: right;
}