html {
  height: 100%;
}

body {
  background: white;
  color: black;
  display: flex;
  height:100%;

 
}
.startmenu {

  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
  height: 100%;
}

.box {
  width: auto;
  height: auto;
  background: rgb(255, 255, 255);
  margin-top: 1px;
  padding: 5px;
}

