body {
  align-items: center;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  text-rendering: optimizeLegibility;
}
.startmenu {
  padding: 100px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
}

.box {
  width: 150px;
  height:auto;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 10px;
}

*, *::after, *::before {
  box-sizing: border-box;
}
