html {
  height: 100%;
}

body {
  background: white;
  color: black;
  display: flex;
  height:100%;

 
}
.startmenu {
  padding-bottom: 50px;
  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
  height: auto;
}

.box {
  width: auto;
  height: auto;
  background: rgb(255, 255, 255);
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

