body {
margin-left: 100px;
margin-right: 100px;
}

.startmenu {
  padding: 50px;
  align-items: center;
  border-radius: 100px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
}


code {
  font-family:'Courier New',
    monospace;
}


.box {
  text-align: center;
  width: 150px;
  height:auto;
  border-radius: 15px;
  background: rgb(124, 238, 238);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


