html {
  width: 100%;
  height: 100%;
  background: rgb(124, 124, 124);
  display: flex;
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: rgb(190, 190, 190);
  color: black;
  display: flex;
  height:100%;
  max-height: 700px;
  width: 100%;
  max-width: 360px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.mainpage {
  width: 360px;
  font-family: sans-serif;
  background: rgb(190, 190, 190);
  height: 100%;
}

.box {
  background: rgb(255, 255, 255);
  margin-top: 2px;
  padding: 15px;
}

.box_small {
  background: rgb(255, 255, 255);
  margin-bottom: 2px;
  display: flex;
  
}


#green_box {
  border-left: 15px solid #00963D;
}

#red_box {
  border-left: 15px solid #DD3146;
}

#lightred_box {
   border-left: 15px solid #F7767A;
}
.pen {
  
  float: right; 
  padding-left: 10px;
}

.floating-menu-icon{
  font-weight: 700;
  width: auto;
  padding: 8px;
  background: #d8312e;
  border: 0;
	border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.5);
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.image {
  background-image: url('./images/coffe.jpg');
  height: 250px;
}
