html {
  width: 100%;
  height: 100%;
  background: rgb(124, 124, 124);
  display: flex;
}

body {
  background: rgb(190, 190, 190);
  color: black;
  display: flex;
  height:640px;
  position: absolute;
  left: 50%;
 
  transform: translate(-50%);
  

}
.mainpage {
  width: 350px;
  font-family: sans-serif;
  background: rgb(190, 190, 190);
  height: 100%;
}

.box {
  background: rgb(255, 255, 255);
  margin-top: 1px;
  padding: 5px;
}
.box_question {
  background: rgb(190, 190, 190);
  margin-top: 1px;
  padding: 5px;
}


#green_box {
  border-left: 15px solid #00963D;
}

#red_box {
  border-left: 15px solid #DD3146;
}

#lightred_box {
   border-left: 15px solid #F7767A;
}
.pen {
  
  float: right; 
  padding-left: 10px;
}

.floating-menu-icon{
  width: auto;
  padding: 10px;
	background: #d8312e;
	border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.5);
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.image {
  background-image: url('./images/coffe.jpg');
  height: 250px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250,250,250);
  text-align: center;
  font-weight: 900;
  height: 100px;
}

.response {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250,250,250);
  margin-top: 5px;
  height: 50px;
  text-align: center;
  width: auto;
}

.prev-next_button {
text-align: right;
padding-top: 50px;
}
