body {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
 
}
.startmenu {
  padding-bottom: 50px;
  font-family: sans-serif;
  background-color: rgb(190, 190, 190);
  height: auto;
}

.box {
  width: auto;
  height: 25px;
  background: rgb(206, 205, 205);
  margin-top: 1px;
  padding: 1px;
}

