.side-drawer {
    height: 100%;
    top: 5px;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 200px;
    z-index: 200;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

.side-drawer a:hover, 
.side-drawer a:active {
    color: grey;
}