.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    width: 110%;
    max-width: auto;
    z-index: 100;

}