.question {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250,250,250);
    text-align: center;
    font-weight: 900;
    height: 200px;
  }
  
.response {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgb(250,250,250);
    margin-top: 5px;
    height: 150px;
    text-align: center;
    width: 100%;
  }

  .sliderDisplayValue {
    align-self: auto;
  }

  .sliderLabels {
    font-size: 0.7em;
  }
  
.box_question {
    background: rgb(190, 190, 190);
    margin-top: 1px;
    padding: 5px;
  }

.prev-next_button {
    position: fixed;
    bottom:50px;
    right:5px;
  }

.submitButton {
  position: fixed;
  bottom:50px;
  left:5px;
}

.form-control-range{
  width: 80px;
}