.question {
    border-left: 15px solid #ccdfbb;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250,250,250);
    text-align: center;
    font-weight: 900;
    height: 200px;
  }
  
.response {
    border-left: 15px solid #ccdfbb;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgb(250,250,250);
    margin-top: 5px;
    min-height: 150px;
    height: auto;
    text-align: center;
    width: 100%;
  }

  .responseleft {
    padding:15px;
    text-align: left;
  }

  .responseverticalcenter {
    padding-top: 50px;
  }

  .responseverticalcenter2 {
    padding-top: 20px;
  }

  .radioandcheckboxbuttons {
    padding-top: 0px;
  }

  .sliderDisplayValue {
    margin-right: 40px;
  }

  .sliderLabels {
    font-size: 0.7em;
  }

  .leftSliderLabel{
    padding-right: 25px;
  }

  .rightSliderLabel{
    padding-left: 25px;
  }
  
.box_question {
    background: rgb(190, 190, 190);
    margin-top: 1px;
    
  }

.prev-next_button {
  margin-left: auto;
  padding: 5px;
  }

.prev {
border:0;
margin-right: 5px;
width: 85px;
border-radius: 5px;
background-color: #343a40;
}

.next_submit {
  width: 85px;
  border: 0;
  border-radius: 5px;
  background-color: #00963D;
  
}


.submitButton {
  margin-left: auto;
  padding-right: 5px;
  
}
